.App{
  margin: 0;
  width:100VW;
  display: flex;
  flex-direction: column;
  
}
 .app-schroll{
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}
.app-schroll > section{
  scroll-snap-align: start;
} 

/* @media screen and (max-width:768px) {
  .App{
    width: 100%;
  }
} */
